- trip ||= @trip

- unless trip.blank?
  - current_loc = trip.location.first(:order => [:created_at.desc, :id.desc])

  - unless @embed
    %h2 City: #{trip.name}

  - unless current_loc.blank?
    .map_box{:id => (!@embed ? "map_box_#{trip.id}" : '')}
      Map will go here
    %script{:type => 'text/javascript'}
      $(document).ready(function() {
      try {

      if (GBrowserIsCompatible()) {
      var map_#{trip.id} = new GMap2(document.getElementById("map_box_#{trip.id}"));
      map_#{trip.id}.setCenter(new GLatLng(#{current_loc.position}), 15);

      - locs = []
      - trip.location.each do |loc|
        - if loc == current_loc
          map_#{trip.id}.openInfoWindow(new GLatLng(#{loc.position}), '<strong>Current Location of Google Streetcar</strong><br /><em>#{(loc.created_at + (trip.timezone_offset/24.to_f)).strftime('%a, %d %b %Y at %I:%M%p')}</em>');

        - next if locs.include?(loc.position)
        - locs << loc.position
        map_#{trip.id}.addOverlay(new GMarker(new GLatLng(#{loc.position}) ));

      - if locs.length > 1
        - points = ''
        - locs.each{|loc| points << "new GLatLng(#{loc}),"}
        map_#{trip.id}.addOverlay(new GPolyline([#{points.gsub(/,$/, '')}], "#ff00ff", 9));

      map_#{trip.id}.setUIToDefault();

      }} catch(e) {}
      });
  - else
    %p This trip has not started yet!


- else
  %p This trip has not started yet!